<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.supringboot.mybatis.mapper.ItemMapper">

	<!-- 공구식품 목록 가져오기 -->
	<resultMap id="itemResult" type="Item">
		<id column="item_id" jdbcType="NUMERIC" property="item_id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="min_quantity" jdbcType="NUMERIC" property="min_quantity" />
		<result column="end_dt" jdbcType="TIMESTAMP" property="end_dt" />
		<result column="created_dt" jdbcType="TIMESTAMP" property="created_dt" />
		<result column="modified_dt" jdbcType="TIMESTAMP" property="modified_dt" />
		<result column="item_price" jdbcType="NUMERIC" property="item_price" />
		<result column="ship_price" jdbcType="NUMERIC" property="ship_price" />
		<result column="item_status" jdbcType="VARCHAR" property="item_status" />
		<result column="numOfRegister" jdbcType="NUMERIC" property="numOfRegister" />
		
		<association property="food" column="food_id" javaType="Food">
			<id property="food_id" column="food_id" />
			<result property="cat_id" column="cat_id" />
			<result property="name" column="name" />
		</association>
		
		<collection property="images" ofType="Image">
			<id property="image_id" column="image_id" />
			<result property="image" column="image" />
		</collection>
	</resultMap>

	<select id="getAllItem" parameterType="Item" resultMap="itemResult">
		SELECT * FROM     
(SELECT * FROM
(SELECT ROWNUM AS SEQ, item_id, title, content, end_dt, min_quantity, created_dt, modified_dt, 
			item_price, ship_price, item_status, food_id, cat_id, name, image_id, image, numOfRegister
FROM
(SELECT i.item_id, i.title, i.content, i.end_dt, i.min_quantity, i.created_dt, i.modified_dt, 
			i.item_price, i.ship_price, i.item_status, f.food_id, f.cat_id, f.name, im.image_id, im.image,
			(SELECT SUM (quantity) FROM Order_reg WHERE item_id=i.item_id) as numOfRegister
		FROM item i LEFT JOIN image im ON i.item_id = im.item_id
			INNER JOIN food f ON i.food_id = f.food_id ORDER BY i.item_id DESC)
)
		<![CDATA[
		 WHERE SEQ > #{paginationInfo.firstRecordIndex} ) WHERE ROWNUM <= #{recordsPerPage}
		]]>

	</select>
	
	<select id="selectItemWithCategory" parameterType="Item" resultMap="searchItemFromMainResultMap">
		SELECT * FROM     
(SELECT * FROM
(SELECT ROWNUM AS SEQ, item_id, title, content, item_status, item_price, min_quantity,numOfRegister,
		name, cat_id, image_id, image
FROM
(SELECT i.item_id, i.title, i.content, i.item_status, i.item_price, i.min_quantity, (SELECT SUM (quantity) FROM Order_reg WHERE item_id=i.item_id) as numOfRegister,
		f.name, f.cat_id, im.image_id, im.image
		FROM Item i JOIN Food f ON i.food_id = f.food_id JOIN Image im ON i.item_id = im.item_id, Category c
		WHERE f.cat_id=7 and c.cat_id=f.cat_id and i.item_status='ongoing' ORDER BY i.item_id DESC)
)<![CDATA[
		 WHERE SEQ > #{paginationInfo.firstRecordIndex} ) WHERE ROWNUM <= #{recordsPerPage}
		]]>
	</select>
	
	<select id="getGoingItemList" resultMap="itemResult">
		SELECT i.item_id, i.title, i.content, i.end_dt, i.min_quantity, i.created_dt, i.modified_dt, 
			i.item_price, i.ship_price, i.item_status, f.food_id, f.cat_id, f.name, im.image_id, im.image,
			(SELECT SUM (quantity) FROM Order_reg WHERE item_id=i.item_id) as numOfRegister
		FROM item i LEFT JOIN image im ON i.item_id = im.item_id
			INNER JOIN food f ON i.food_id = f.food_id
		WHERE i.item_status = 'ongoing'
	</select>
	
	<!-- 추가 -->
	<select id="getItemListByAdmin" resultMap="itemResult">
		SELECT i.item_id, i.title, i.content, i.end_dt, i.created_dt, i.modified_dt, 
			i.item_price, i.ship_price, i.item_status, f.food_id, f.cat_id, f.name, im.image_id, im.image,
			(SELECT SUM (quantity) FROM Order_reg WHERE item_id=i.item_id) as numOfRegister
		FROM item i LEFT JOIN image im ON i.item_id = im.item_id
			INNER JOIN food f ON i.food_id = f.food_id
		WHERE i.user_id = #{user_id}
	</select>
	
	<select id="getEndItemList" resultMap="itemResult">
		SELECT i.item_id, i.title, i.content, i.end_dt, i.min_quantity, i.created_dt, i.modified_dt, 
			i.item_price, i.ship_price, i.item_status, f.food_id, f.cat_id, f.name, im.image_id, im.image,
			(SELECT SUM (quantity) FROM Order_reg WHERE item_id=i.item_id) as numOfRegister
		FROM item i LEFT JOIN image im ON i.item_id = im.item_id
			INNER JOIN food f ON i.food_id = f.food_id
		WHERE i.item_status != 'ongoing'
	</select>
	
	<!-- 특정 공구식품 가져오기 -->
	<resultMap id="datailItemResult" type="Item">
		<id column="item_id" jdbcType="NUMERIC" property="item_id" />
		<result column="user_id" jdbcType="NUMERIC" property="user_id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="end_dt" jdbcType="TIMESTAMP" property="end_dt" />
		<result column="min_quantity" jdbcType="NUMERIC" property="min_quantity" />
		<result column="created_dt" jdbcType="TIMESTAMP" property="created_dt" />
		<result column="modified_dt" jdbcType="TIMESTAMP" property="modified_dt" />
		<result column="item_price" jdbcType="NUMERIC" property="item_price" />
		<result column="ship_price" jdbcType="NUMERIC" property="ship_price" />
		<result column="item_status" jdbcType="VARCHAR" property="item_status" />
		<result column="numOfRegister" jdbcType="NUMERIC" property="numOfRegister" />
		<association property="food" column="food_id" javaType="Food">
			<id property="food_id" column="food_id" />
			<result property="cat_id" column="cat_id" />
			<result property="name" column="name" />
			<result property="serving_size" column="serving_size" />
			<result property="serving_size_unit" column="serving_size_unit" />
			<result property="calories" column="calories" />
			<result property="protein" column="protein" />
			<result property="grease" column="grease" />
			<result property="carbohydrate" column="carbohydrate" />
			<result property="sugars" column="sugars" />
		</association>
		<collection property="images" ofType="Image">
			<id property="image_id" column="image_id" />
			<result property="image" column="image" />
		</collection>
	</resultMap>

	<select id="getOneItemById" parameterType="int" resultMap="datailItemResult">
		SELECT i.item_id, user_id, i.food_id, title, content, end_dt, min_quantity, created_dt, modified_dt, 
			item_price, ship_price, item_status, f.cat_id, f.name, f.serving_size, 
			f.serving_size_unit, f.calories, f.protein, f.grease, f.carbohydrate, f.sugars, (SELECT SUM (quantity) FROM Order_reg WHERE item_id=#{item_id}) as numOfRegister, 
			im.image_id, im.image
		FROM item i LEFT JOIN image im ON i.item_id = im.item_id
			INNER JOIN food f ON i.food_id = f.food_id
		WHERE i.item_id=#{item_id}
	</select>

	<!-- <resultMap type="Item" id="itemResultMap"> <result column="item_id" 
		property="item_id"/> <result column="food_id" property="Food객체" /> <result 
		column="user_id" property="user_id" /> <result column="title" property="" 
		/> <result column="content" property="" /> <result column="end_dt" property="" 
		/> <result column="min_quantity" property="" /> <result column="created_dt" 
		property="" /> <result column="modified_dt" property="" /> <result column="item_price" 
		property="" /> <result column="item_status" property="" /> <result column="ship_price" 
		property="" /> </resultMap> -->

	<insert id="insertItem" parameterType="Item">
		<selectKey keyProperty="item_id" resultType="int" order="BEFORE">
			SELECT ITEM_SEQ.nextval AS item_id FROM DUAL
		</selectKey>
		insert into item (item_id, food_id, user_id, title, content, end_dt,
		min_quantity, created_dt, modified_dt,
		item_price, item_status, ship_price)
		values (#{item_id}, #{food.food_id}, #{user_id}, #{title}, #{content},
		#{end_dt}, #{min_quantity}, #{created_dt}, #{modified_dt},
		#{item_price}, #{item_status}, #{ship_price})
	</insert>

	<select id="getFood" resultType="Food" parameterType="Integer">
		SELECT *
		FROM food
		WHERE food_id = #{food_id}
	</select>
	
	<select id="searchFoodList" resultType="com.example.supringboot.domain.Food" parameterType="String">
		SELECT *
		FROM food
		WHERE name like '%' || #{keyword} || '%'
	</select>

	<delete id="deleteItem" parameterType="int">
		delete from item
		where item_id = #{item_id}
	</delete>

	<insert id="updateItem" parameterType="Item">
		UPDATE item
		SET title=#{title}, content=#{content},
		end_dt=#{end_dt},
		min_quantity=#{min_quantity},
		created_dt=#{created_dt}, modified_dt=#{modified_dt},
		item_price=#{item_price}, item_status=#{item_status},
		ship_price=#{ship_price}
		WHERE item_id=#{item_id}
	</insert>

	<select id="progressItem" parameterType="int" resultType="int">
		SELECT count(*)
		FROM order_reg
		WHERE item_id=#{item_id}
	</select>
	
	<update id="updateItemStatus">
		UPDATE item
		SET item_status = #{item_status}
		WHERE item_id = #{item_id}
	</update>
	
	<select id="getItemLatest3Rows" resultMap="searchItemFromMainResultMap">
		<![CDATA[select * from 
		(SELECT i.item_id, i.title, i.content, i.item_status, im.image, im.image_id, i.min_quantity, (SELECT SUM (quantity) FROM Order_reg WHERE item_id=i.item_id) as numOfRegister
		FROM ITEM i, IMAGE im 
		where i.item_status='ongoing' and i.item_id = im.item_id ORDER BY item_id desc) 
		where rownum <= 4]]>
		
	</select>
	
		<resultMap id="searchItemFromMainResultMap" type="Item">
		<id column="item_id" jdbcType="NUMERIC" property="item_id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="item_status" jdbcType="VARCHAR" property="item_status" />
		<result column="item_price" jdbcType="NUMERIC" property="item_price" />
		<result column="min_quantity" jdbcType="NUMERIC" property="min_quantity" />
		<result column="numOfRegister" jdbcType="NUMERIC" property="numOfRegister" />
		
		<association property="food" column="food" javaType="Food">
			<id column="food_id" jdbcType="NUMERIC" property="food_id" />
			<result column="name" jdbcType="VARCHAR" property="name"/>
			<association property="category" column="category" javaType="Category">
				<id column="cat_id" jdbcType="NUMERIC" property="cat_id" />
				<result column="cat_name" jdbcType="VARCHAR" property="cat_name" />
			</association>
		</association>
		
		<collection property="images" ofType="Image">
			<id property="image_id" column="image_id" />
			<result property="image" column="image" />
		</collection> 
	</resultMap>
	
	<select id="searchItemFromMain" parameterType="String" resultMap="searchItemFromMainResultMap">
		<![CDATA[
			select * from (select i.item_id, i.title, f.name, im.image, c.cat_name, i.min_quantity, (SELECT SUM (quantity) FROM Order_reg WHERE item_id=i.item_id) as numOfRegister
			from Item i, Food f, Category c, Image im 
				where i.food_id = f.food_id and f.cat_id = c.cat_id and i.item_id = im.item_id 
					and (name like '%' ||  #{keyword} || '%' or cat_name like '%' ||  #{keyword} || '%' or title like '%' ||  #{keyword} || '%')
					ORDER BY i.item_id) where rownum <= 4
		]]>
	</select>

	
	<select id="selectAllCategory" resultType="Category">
		SELECT * FROM category
	</select>
	
	<select id="getCategoryById" parameterType="int" resultType="Category">
		SELECT * FROM category
		WHERE cat_id=#{cat_id}
	</select>
	
	<select id="selectItemTotalCount" parameterType="Item" resultType="int">
		SELECT count(*)
		FROM ITEM
	</select>
	
	<select id="selectItemCatCount" parameterType="int" resultType="int">
		select count(*) from item i, food f, category c
WHERE i.food_id = f.food_id and f.cat_id = c.cat_id and i.item_status = 'ongoing' and c.cat_id = #{cat_id}
	</select>
</mapper>
