<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mainlayout}">
<head>
<meta charset="UTF-8">
<title>공동구매 신청</title>
</head>
<body>

	<div layout:fragment="custom-content" align="center">
		<h3>공동구매 신청하기</h3>
		<div class="container">
			<div class="col-lg-8 mb-4">
				<form id="applyForm" action="#" th:action="@{/item/apply}" th:object="${applyForm}" method="post">
					<div class="control-group form-group">
						<div th:if="${applyForm.order.item.images.size != 0}">
							<img th:src="@{'data:image/jpeg;base64,'+${applyForm.order.item.images[0].base64Image}}" width="300px" height="300px"  alt="이미지 없음" />
						</div>
						<div th:unless="${applyForm.order.item.images.size != 0}">
							<p>사진 없음</p>
						</div>	
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>식품 이름:</label> 
							<b th:text="*{order.item.food.name}">식품 이름</b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>수량:</label>
							<b th:text="*{order.quantity}">수량</b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>가격:</label> 
							<b th:text="*{itemTotalPrice}">가격</b>
						</div>
					</div>
					<div class="form-group">
			           <label>배송비: </label> 
			            <b th:text="${applyForm.order.item.ship_price}"></b>
			       </div>
					
					<div class="control-group form-group">
						<div class="controls">
							<label>신청자 이름: </label> <b th:text="*{order.user.name}">신청자 이름</b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>연락처: </label>
							<b th:text="*{order.user.phone}">연락처</b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>이메일: </label>
							<b th:text="*{order.user.email}">이메일</b>
						</div>
					</div>
					
					<div class="control-group form-group">
						<div class="controls">
							<label>수령인: </label>

							<input class="form-control" id="name" type="text" th:field="*{order.receiver_name}" /> 
							<b th:if="${#fields.hasErrors('order.receiver_name')}"
								th:errorclass="error" th:errors="*{order.receiver_name}"></b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>배송 주소1:</label> <input class="form-control"
								id="ship_addr1" type="text" th:field="*{order.ship_addr1}" />
							<b th:if="${#fields.hasErrors('order.ship_addr1')}"
								th:errorclass="error" th:errors="*{order.ship_addr1}"></b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>배송 주소2:</label> <input class="form-control"
								id="ship_addr2" type="text" th:field="*{order.ship_addr2}" />
							<b th:if="${#fields.hasErrors('order.ship_addr2')}"
								th:errorclass="error" th:errors="*{order.ship_addr2}"></b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>우편번호:</label> <input class="form-control" id="ship_zip"
								type="text" th:field="*{order.ship_zip}" />
							<b th:if="${#fields.hasErrors('order.ship_zip')}"
								th:errorclass="error" th:errors="*{order.ship_zip}"></b>
						</div>
					</div>
					
					<div class="control-group form-group">
						<div class="controls">
							<label>카드타입:</label>
							<select th:field="*{order.card_type}" th:name="*{order.card_type}" >
								<option th:each="type : ${creditCardTypes}" th:value="${type}"
								th:text="${type}"></option>
							</select>
							<b th:if="${#fields.hasErrors('order.card_type')}"
								th:errorclass="error" th:errors="*{order.card_type}"></b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>카드번호:</label> <input class="form-control" id="card_num"
								type="text" th:field="*{order.card_num}" />
							<b th:if="${#fields.hasErrors('order.card_num')}"
								th:errorclass="error" th:errors="*{order.card_num}"></b>
						</div>
					</div>
					<div class="control-group form-group">
						<div class="controls">
							<label>유효기간:</label> <input class="form-control" id="card_exp_dt"
								type="text" th:field="*{order.card_exp_dt}" /> <b
								th:if="${#fields.hasErrors('order.card_exp_dt')}"
								th:errorclass="error" th:errors="*{order.card_exp_dt}"></b>
						</div>
					</div>
					
					<div class="control-group form-group">
						<div class="controls">
							<label>총 금액:</label> 
							<b th:text="*{order.ord_price}">총 금액</b>
						</div>
					</div>
					
					<div id="success"></div>
					<!-- For success/fail messages-->
					<button class="btn btn-primary" id="sendMessageButton"
						type="submit">신청하기</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>