<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mainlayout}">
<head>
<meta charset="UTF-8">

<style>
	.applyTitle {
		padding-bottom: 15px;
		font-size: 16px;
	}
	.titleBox {
		padding: 5px;
		background-color: #D8D8D8;
		width: 500px;
		font-weight: bold;
	}
</style>

</head>
<body>
	<div layout:fragment="custom-content" align="center">
		<div class="container">	
			<h3>공동구매 신청 확인</h3>
			<section class="py-5">
				<div class="control-group">
					<div class="controls">
						<table>
							<tr>
								<td class="applyTitle" colspan="2">
									<div class="titleBox" th:text="${applyForm.order.item.food.name + ' 정보'}"></div>
								</td>
							</tr>
							<tr>
								<td th:if="${applyForm.order.item.images.size != 0 and applyForm.order.item.images[0].base64Image != null}" 
									style="width:250px; padding-right:50px;">
									<img th:src="@{'data:image/jpeg;base64,'+${applyForm.order.item.images[0].base64Image}}" 
											width="200px" height="auto" alt="이미지 없음" />
								</td>
								<td th:if="${applyForm.order.item.images.size == 0 or applyForm.order.item.images[0].base64Image == null}" 
									style="width:250px; padding-right:50px" >
									<img src="/img/no_image.png" width="200px" height="auto" />
								</td>
								<td>
									수량 : &nbsp;&nbsp;<b th:text="${applyForm.order.quantity + '개'}"></b><br><br>
									가격 : &nbsp;&nbsp;<b th:text="${applyForm.itemTotalPrice + '원'}"></b><br><br>
									배송비 : &nbsp;&nbsp;<b th:text="${applyForm.order.item.ship_price + '원'}"></b><br><br>
								</td>
							</tr>
							
							<tr><td class="applyTitle" style="padding-top:50px;" colspan="2">
								<div class="titleBox">신청 정보</div>
							</td></tr>
							<tr>
								<td>
									신청자 이름 : &nbsp;&nbsp;<b th:text="${applyForm.order.user.name}">신청자 이름</b><br><br>
									연락처 : &nbsp;&nbsp;<b th:text="${applyForm.order.user.phone}">연락처</b><br><br>
									이메일 : &nbsp;&nbsp;<b th:text="${applyForm.order.user.email}">이메일</b><br><br>
									수령인 : &nbsp;&nbsp;<b th:text="${applyForm.order.receiver_name}"></b><br><br>
									우편번호 : &nbsp;&nbsp;<b th:text="${applyForm.order.ship_zip}"></b><br><br>
									배송 주소1 : &nbsp;&nbsp;<b th:text="${applyForm.order.ship_addr1}"></b><br><br>
									배송 주소2 : &nbsp;&nbsp;<b th:text="${applyForm.order.ship_addr2}"></b>
								</td>
							</tr>
							
							<tr><td class="applyTitle" style="padding-top:50px;" colspan="2">
								<div class="titleBox">결제 수단</div>
							</td></tr>
							<tr>
								<td colspan="2">
									카드타입 : &nbsp;&nbsp;<b th:text="${applyForm.order.card_type}"></b><br><br>
									카드번호 : &nbsp;&nbsp;<b th:text="${applyForm.order.card_num}"></b><br><br>
									유효기간 : &nbsp;&nbsp;<b th:text="${applyForm.order.card_exp_dt}"></b>
								</td>
							</tr>
								
							<tr>
								<td class="applyTitle" colspan="2" th:if="${applyForm.order.item.item_status == 'ongoing'}"
									style="padding-top:50px;">
									<div class="titleBox" th:text="${'결제 예정 금액 &nbsp;&nbsp;' + applyForm.order.ord_price + '원'}"></div>
								</td>
							</tr>
							<tr>
								<td class="applyTitle" colspan="2" th:if="${applyForm.order.item.item_status != 'ongoing'}"
									style="padding-top:50px;">
									<div class="titleBox" th:text="${'결제 금액 &nbsp;&nbsp;' + applyForm.order.ord_price + '원'}"></div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
				<br><br>
				<button type="button" th:onclick="'location.href=\''+ @{/account/myOrderList} + '\''"
					class="btn btn-default waves-effect waves-light">신청 목록</button>
				<button type="button" th:onclick="'location.href=\''+ @{/item/list} + '\''"
					class="btn btn-default waves-effect waves-light">같이 먹어요 목록</button>
				
			</section>
		</div>
	</div>
	
</body>
</html>