<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mainlayout}">
<head>
<meta charset="UTF-8">

<script th:inlne="jacascript">
	var isApply = "[[${isApply}]]";
	
	if (isApply) {
		alert('이미 신청한 식품입니다.');
		console.log(isApply);
	}
</script>

<style>
	.detail {
		font-size: 20px;
	}
	
	#color {
		color:black;
	}
</style>

</head>
<body>
	<div layout:fragment="custom-content" align="center">
		<section class="py-5">
			<div class="container">
				<h5 th:if="${detail.item_status=='ongoing'}" style="color:gray;">진행 중</h5>
				<h5 th:if="${detail.item_status=='success'}" style="color:gray;">성공</h5>
				<h5 th:if="${detail.item_status=='fail'}" style="color:gray;">실패</h5>
				<h2 th:text="${detail.title}">공구 제목</h2><br/>
				
				<table>
					<tr>
						<td style="padding-right:50px;">
							<p th:if="${detail.images.size == 0 or detail.images[0].base64Image == null}">
								<img th:src="@{/img/no_image.png}" alt="..." width="400px" height="auto" />
							</p>
							
							<div th:if="${detail.images.size != 0 and detail.images[0].base64Image != null}"
								class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" style="width:400px">
				                <ol class="carousel-indicators" th:each="image, iNum : ${detail.images}">
				                    <li th:if="${iNum.index == 0}" class="active" data-target="#carouselExampleIndicators" data-slide-to="${iNum.index}"></li>
				                    <li th:if="${iNum.index != 0}" data-target="#carouselExampleIndicators" data-slide-to="${iNum.index}"></li>
				                </ol>
				                <div class="carousel-inner" th:each="image : ${detail.images}">
				                    <div class="carousel-item active">
				                        <img class="d-block w-100" th:src="@{'data:image/jpeg;base64,'+${image.base64Image}}" alt="..." />
				                    </div>
				                    
				                </div>
				                
				                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
				                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				                    <span class="sr-only">Previous</span>
				                </a>
				                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="color:#343a40">
				                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				                    <span class="sr-only">Next</span>
				                </a>
				            </div>
						</td>
						
						<td>
							식품명<br/>
							<b class="detail" th:text="${detail.food.name}"></b>
							<span th:text="${'&nbsp;&nbsp;' + category.cat_name}" style="color:#A4A4A4;"></span>
							<br/><br/>
							가격<br/>
							<b class="detail" th:text="${detail.item_price + '원'}"></b><br/><br/>
							최소 수량<br/>
							<b class="detail" th:text="${detail.min_quantity} + '개'"></b><br/><br/>
							신청 수량<br/>
							<b class="detail" th:text="${detail.numOfRegister} + '개'"></b> &nbsp;
							<b th:text="${detail.percentage} + '%'"></b><br/><br/>
							
							배송비<br/>
							<b class="detail" th:text="${detail.ship_price} + '원'"></b><br/><br/>
							
							시작일<br/>
							<b class="detail" th:text="${#dates.format(detail.created_dt, 'yyyy/MM/dd  HH:mm')}"></b><br/><br/>
							마감일<br/>
							<b class="detail" th:text="${#dates.format(detail.end_dt, 'yyyy/MM/dd  HH:mm')}"></b><br/><br/>
							
							<form name="wish" id="wishAndApply" method="post" th:if="${detail.item_status == 'ongoing'}">
								<span>수량 선택</span> &nbsp;&nbsp;&nbsp;
								<input type="number" id="amount" name="amount" value="1" min="1" style="width:80px;"/>
								<input type="hidden" id="itemId" name="itemId" th:value="${detail.item_id}" />
								<br/><br/>
								
								<input type="submit" value="찜하기" th:attr="onclick=|wishButton('${detail.item_id}')|"
									class="btn btn-default waves-effect waves-light"   />
									
								<input type="submit" value="신청하기" th:attr="onclick=|registerButton('${detail.item_id}')|"
									class="btn btn-default waves-effect waves-light" />
								
								<input type='hidden' id='hiddeninput' name='previousUrl'/>
								
								<br/><br/>

								<input th:if="${session.userSession != null && session.userSession.account.admin == true &&
											session.userSession.account.user_id == detail.user_id}" 
									type="button" value="수정하기"
									class="btn btn-primary-blue waves-effect waves-light"
									th:onclick="'location.href=\''+ @{/item/updateItemForm(itemId=${detail.item_id})} + '\''"/>
									
								<input th:if="${session.userSession != null && session.userSession.account.admin == true &&
											session.userSession.account.user_id == detail.user_id}"
									class="btn btn-danger waves-effect waves-light"
									type="submit" value="삭제하기" onclick="javascript: form.action='/item/deleteItem';" />
								
							</form>
						</td>
					</tr>
					<tr>
						<td colspan=2 style="padding-top:20px;">
							<h4>영양성분</h4>
							<table>
								<tr>
									<td style="padding-right:40px; padding-bottom:5px;">
										1회 제공량
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.serving_size + detail.food.serving_size_unit}"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										열량
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.calories} + 'kcal'"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										단백질
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.protein} + 'g'"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										지방
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.grease} + 'g'"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										탄수화물
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.carbohydrate} + 'g'"></b>
									</td>
								</tr>
								<tr>
									<td>
										당
									</td>
									<td>
										<b th:text="${detail.food.sugars} + 'g'"></b>
									</td>
								</tr>
							</table>
							
							<br/>
							<h3>Content</h3>
							<p style="font-size:18px;" th:text="${detail.content}"></p>
						</td>
					</tr>
				</table>

			</div>
		</section>
		
		<script th:inline="javascript">
			function wishButton(item_id) {
				console.log(item_id);
				console.log("wishButton");
				var form = document.getElementById("wishAndApply");
				var uri = /*[[ @{/wish/add} ]]*/ null;
				var hidden = document.getElementById("hiddeninput");

				hidden.setAttribute('value', '/item/detail?itemId=' + item_id);

				form.setAttribute('action', uri);
				form.submit();
			}
			
			function registerButton(item_id) {
				var form = document.getElementById("wishAndApply");
				var uri = /*[[ @{/item/applyForm} ]]*/ null;
				var hidden = document.getElementById("hiddeninput");

				hidden.setAttribute('value', '/item/detail?itemId=' + item_id);

				form.setAttribute('action', uri);
				
				form.submit();
			}
			
		</script>
		
	</div>

</body>
</html>