<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mainlayout}">
<head>
<meta charset="UTF-8">
<title>공동구매 식품 상세보기</title>

<script th:inlne="jacascript">
	var isApply = "[[${isApply}]]";
	
	if (isApply) {
		alert('이미 신청한 식품입니다.');
		console.log(isApply);
	}
</script>

<style>
	.detail {
		font-size: 20px;
	}
</style>

</head>
<body>
	<div layout:fragment="custom-content" align="center">
		<section class="py-5">
			<div class="container">
				<h5 th:if="${detail.item_status=='ongoing'}" style="color:gray;">진행 중</h5>
				<h5 th:if="${detail.item_status=='success'}" style="color:gray;">성공</h5>
				<h5 th:if="${detail.item_status=='fail'}" style="color:gray;">실패</h5>
				<h2 th:text="${detail.title}">공구 제목</h2><br/>
				
				<table>
					<tr>
						<td style="padding-right:50px;">
							<p th:if="${detail.images.size == 0}">
								<img src="/img/no_image.png" alt="..." width="400px" height="auto" />
							</p>
							<p th:if="${detail.images.size != 0}">
								<img th:src="@{'data:image/jpeg;base64,'+${detail.images[0].base64Image}}" 
									style="width:400px; height:auto;" alt="액박이미지" />
							</p>
						</td>
						
						<td>
							식품명<br/>
							<b class="detail" th:text="${detail.food.name}"></b>
							<br/><br/>
							가격<br/>
							<b class="detail" th:text="${detail.item_price + '원'}"></b><br/><br/>
							최소 수량<br/>
							<b class="detail" th:text="${detail.min_quantity} + '개'"></b><br/><br/>
							신청자 수<br/>
							<b class="detail" th:text="${detail.numOfRegister} + '명'"></b> &nbsp;
							<b th:text="${detail.percentage} + '%'"></b><br/><br/>
							
							배송비<br/>
							<b class="detail" th:text="${detail.ship_price} + '원'"></b><br/><br/>
							
							시작일<br/>
							<b class="detail" th:text="${#dates.format(detail.created_dt, 'yyyy/MM/dd  HH:mm')}"></b><br/><br/>
							마감일<br/>
							<b class="detail" th:text="${#dates.format(detail.end_dt, 'yyyy/MM/dd  HH:mm')}"></b><br/><br/>
							
							<form name="wish" id="insertWish" method="post">
								<span>수량 선택</span> &nbsp;&nbsp;&nbsp;
								<input type="number" id="amount" name="amount" value="1" min="1" th:if="${detail.item_status == 'ongoing'}" />
								<input type="hidden" id="itemId" name="itemId" th:value="${detail.item_id}" />
								<br/><br/>
								
								<!-- <input type="submit" value="찜하기" onclick="javascript: form.action='/wish/add';" 
									th:if="${detail.item_status == 'ongoing'}" /> -->
								
								<input type="submit" value="찜하기" th:attr="onclick=|wishButton('${detail.item_id}')|"  
									th:if="${detail.item_status == 'ongoing'}" />
									
								<input th:if="${detail.item_status == 'ongoing'}"
									type="submit" value="공구 신청" th:attr="onclick=|registerButton('${detail.item_id}')|" />
								
								<input type='hidden' id='hiddeninput' name='previousUrl'/>
								
								<br/><br/>
								<!--<input th:if="${session.userSession != null && session.userSession.account.admin == true &&
											session.userSession.account.user_id == detail.user_id}" 
									type="submit" value="수정" onclick="javascript: form.action='/item/updateItemForm';" />-->
								<input th:if="${session.userSession != null && session.userSession.account.admin == true &&
											session.userSession.account.user_id == detail.user_id}" 
									type="button" value="수정하기" 
									th:onclick="'location.href=\''+ @{/item/updateItemForm(itemId=${detail.item_id})} + '\''"/>
									
								<input th:if="${session.userSession != null && session.userSession.account.admin == true &&
											session.userSession.account.user_id == detail.user_id}"
									type="submit" value="삭제하기" onclick="javascript: form.action='/item/deleteItem';" />
								
							</form>
						</td>
					</tr>
					<tr>
						<td colspan=2 style="padding-top:20px;">
							<h4>영양성분</h4>
							<table>
								<tr>
									<td style="padding-right:40px; padding-bottom:5px;">
										1회 제공량
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.serving_size + detail.food.serving_size_unit}"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										열량
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.calories} + 'kcal'"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										단백질
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.protein} + 'g'"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										지방
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.grease} + 'g'"></b>
									</td>
								</tr>
								<tr>
									<td style="padding-bottom:5px;">
										탄수화물
									</td>
									<td style="padding-bottom:5px;">
										<b th:text="${detail.food.carbohydrate} + 'g'"></b>
									</td>
								</tr>
								<tr>
									<td>
										당
									</td>
									<td>
										<b th:text="${detail.food.sugars} + 'g'"></b>
									</td>
								</tr>
							</table>
							
							<br/>
							<h3>Content</h3>
							<p style="font-size:18px;" th:text="${detail.content}"></p>
						</td>
					</tr>
				</table>

			</div>
		</section>
		
		<script th:inline="javascript">
			function wishButton(item_id) {
				console.log(item_id);
				console.log("wishButton");
				var form = document.getElementById("insertWish");
				var uri = /*[[ @{/wish/add} ]]*/ null;
				var hidden = document.getElementById("hiddeninput");

				hidden.setAttribute('value', '/item/detail?itemId=' + item_id);

				form.setAttribute('action', uri);
				form.submit();
			}
			
			function registerButton(item_id) {
				var form = document.getElementById("insertWish");
				var uri = /*[[ @{/item/applyForm} ]]*/ null;
				var hidden = document.getElementById("hiddeninput");

				hidden.setAttribute('value', '/item/detail?itemId=' + item_id);

				form.setAttribute('action', uri);
				form.submit();
			}
		</script>
	</div>
	

</body>
</html>