<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mainlayout}">
<head>
<meta charset="UTF-8">

<style>
	.btn-group button {
	    background-color: #6E6E6E;
	    border: 1px solid black;
	    color: white;
	    padding: 10px 24px;
	    cursor: pointer;
	    float: left;
	}
	
	.btn-group:after {
	    content: "";
	    clear: both;
	    display: table;
	}
	
	.btn-group button:not(:last-child) {
	    border-right: none;
	}
	
	.btn-group button:hover {
	    background-color: #989898;
	}
</style>

<th:block layout:fragment="add-css"></th:block>

</head>
<body>

	<div layout:fragment="custom-content">
	
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#f5f7fa;">
			<div class="container">
				<div class="btn-group">
					<button type="button" th:onclick="'location.href=\''+ @{/item/list(status=all)} + '\''"
						th:style="${status == 'all' ? 'background-color: #989898;' : ''}">전체</button>
					<button type="button" th:onclick="'location.href=\''+ @{/item/list(status=going)} + '\''"
						th:style="${status == 'going' ? 'background-color: #989898;' : ''}">진행중인 공구</button>
					<button type="button" th:onclick="'location.href=\''+ @{/item/list(status=end)} + '\''"
						th:style="${status == 'end' ? 'background-color: #989898;' : ''}">지난 공구</button>
				</div>

                <div class="collapse navbar-collapse">
                    
                    <ul class="navbar-nav ml-auto">
               
                        <li class="nav-item" th:each="category : ${categoryList}">
                        	<b><a th:href="@{/item/list(cat_id=${category.cat_id})}" class="nav-link" th:text="${category.cat_name}" style="color:black;"></a></b>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
		
		<div class="container" th:if="${catSize == 0}">
			<h2 align="left" th:text="${catName}">카테고리</h2> <br/>
			<b class="mb-4" style="font-size:20px;">목록이 존재하지 않습니다.</b>
		</div>
		<div th:if="${catItemList}" class="py-5 bg-light">
			<div class="container">
				<h2 align="left" th:text="${catName}">카테고리</h2> <br/>
                <div class="row">
                    <div th:each="item : ${catItemList}" class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100"
                        	style="cursor: pointer;" th:onclick="'location.href=\''+ @{/item/detail(itemId=${item.item_id})} + '\''">
                        	
                            <a th:if="${item.images.size == 0 or item.images[0].base64Image == null}">
                            	<img class="card-img-top" src="/img/no_image.png" alt="..." />
                            </a>
							<a th:if="${item.images.size != 0 and item.images[0].base64Image != null}">
								<img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+${item.images[0].base64Image}}" alt="액박이미지" />
							</a>
                            <div class="card-body">
                                <h4 class ="card-title" th:text="${item.food.name}"></h4> <br/>
                                <div align="right" style="font-size:11px"><a th:text="${item.item_status_korean}"></a></div>
                                <b style="size:15px;"class="card-text" th:text="${item.title}" ></b> <br/>
                                가격 : <b class="card-text" th:text="${item.item_price}" ></b> <br/>
                                <b class="card-text" th:text="${item.percentage} + '% 달성'"></b> <br/>

                            </div>
                        </div>
                        
                    </div>
                </div>
  			</div>
		</div>	

		<div class="container" th:if="${itemSize == 0}">
			<h2 align="left" th:if="${status=='going'}">
				<b>진행중인 공구</b>
			</h2>
			<h2 align="left" th:if="${status=='end'}">
				<b>지난 공구</b>
			</h2>
			<h2 align="left" th:if="${status=='all'}">
				<b>전체</b>
			</h2>
			<br />
			
			<form class="form-horizontal" method="GET" name="searchByKeyword"
				th:action="@{/item/list}">
				<div class="input-group" style="width: 500px">
					<input type="hidden" id="status" name="searchType"
						th:value="${status}"> <input type="text"
						name="searchKeyword" th:value="${searchKeyword}" class="form-control"
						placeholder="찾으려는 식품을 검색해주세요!"> 
						<span class="input-group-btn">
						<button class="btn btn-secondary" type="submit">검색</button>
					</span>
				</div>
			</form>
			<br />
			
			<h4 th:text="${'총 ' + itemSize + '개의 식품이 검색되었습니다.'}" th:if="${searchKeyword != null}"
				style="margin-bottom: 30px;"></h4>
			<b class="mb-4" style="font-size:20px;" >검색된 식품이 없습니다.</b>
		</div>
		
		<div th:if="${itemList}" class="py-5 bg-light">
			<div class="container">
			<h2 align="left" th:if="${status=='going'}">
				<b>진행중인 공구</b>
			</h2>
			<h2 align="left" th:if="${status=='end'}">
				<b>지난 공구</b>
			</h2>
			<h2 align="left" th:if="${status=='all'}">
				<b>전체</b>
			</h2>
			<br />

			<form class="form-horizontal" method="GET" name="searchByKeyword"
				th:action="@{/item/list}">
				<div class="input-group" style="width: 500px">
					<input type="hidden" id="status" name="searchType"
						th:value="${status}"> <input type="text"
						name="searchKeyword" th:value="${searchKeyword}" class="form-control"
						placeholder="찾으려는 식품을 검색해주세요!">
						<span class="input-group-btn">
						<button class="btn btn-secondary" type="submit">검색</button>
					</span>
				</div>
			</form>
			<br />

			<h4 th:text="${'총 ' + itemSize + '개의 식품이 검색되었습니다.'}" th:if="${searchKeyword != null}"
				style="margin-bottom: 30px;"></h4>
			<div class="row">
				<div th:each="item : ${itemList}" class="col-lg-4 col-sm-6 mb-4">
					<div class="card h-100"
						th:classappend="${item.item_status == 'fail' ? 'fail' : 
                        							(item.item_status == 'success' ? 'success' : 'card h-100')}"
						style="cursor: pointer;"
						th:onclick="'location.href=\''+ @{/item/detail(itemId=${item.item_id})} + '\''">
						<a th:if="${item.images.size == 0 or item.images[0].base64Image == null}">
							<img class="card-img-top" src="/img/no_image.png" alt="..." />
						</a>
						<a th:if="${item.images.size != 0 and item.images[0].base64Image != null}">
							<img class="card-img-top"
							th:src="@{'data:image/jpeg;base64,'+${item.images[0].base64Image}}"
							alt="액박이미지" />
						</a>
						<div class="card-body">
							<h5 class="card-title">
								<a th:text="${item.food.name}"></a>
							</h5>
							<div align="right" style="font-size: 11px">
								<a th:text="${item.item_status_korean}"></a>
							</div>
							<h4 class="card-text">
								<b style="size: 15px;" class="card-text" th:text="${item.title}"></b>
							</h4>
							가격 : <b class="card-text" th:text="${item.item_price}"></b> <br />
							<b class="card-text" th:text="${item.percentage} + '% 달성'"></b> <br />
						</div>
					</div>

				</div>
			</div>
		</div>
			
		</div>

		<th:block >
			<nav th:replace="post/fragments/common :: pagination"></nav>
		</th:block>
		
		<th:block layout:fragment="script">
								<script th:inline="javascript">
									/*<![CDATA[*/
									var status = /*[[${status}]]*/ null;
									
									function movePage(uri, queryString) {
										console.log(uri);
										console.log(queryString);
										location.href = uri + queryString + "&status=" + status;
									}
				
								</script>
							</th:block>

	</div>

</body>
</html>