<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{mainlayout}" > <!-- layout:decorate="~{post/layout/basic}" -->
<head>
<meta charset="UTF-8">
<style>
	table {margin-left: 140px;}
</style>

<title>공구식품 등록</title>
</head>

<body>
	<div layout:fragment="custom-content"> 
	<section class="py-5">
	<div class="container">
	
<h1 align="center">공동 구매 상품 등록</h1> <br>

<form class="form-horizontal" name="searchFood" method="GET">
	<div class="form-inline form-group">
		<label for="keyword" class="col-sm-2 control-label">상품 검색</label>
		<div class="col-sm-10">
       		<input th:placeholder="${keyword}" type="text" class="form-control" id="keyword" name="keyword">
       		<input type="submit" class="form-control" value="검색">
      	</div>
	</div>
	<!-- 
	<table>
		<tr>
			<td>상품 검색</td>
			<td><input th:placeholder="${keyword}" type="text" style="width: 500" name="keyword"></td>
			<td><input type="submit" value="검색"/> </td>
		</tr>
	</table>
	-->
</form>

<form class="form-horizontal" method="POST" enctype="multipart/form-data" th:object="${itemForm}"> <!-- action="/item/adminList" -->
	<div class="form-inline form-group">
		<label for="food_id" class="col-sm-2 control-label">상품 검색</label>
		<div class="col-sm-10">
			<select class="form-control" name="food_id">
				<option th:if="${foodname != null}" th:text="${foodname}" th:value="${foodId}"></option>
				<option th:each="f : ${foodList}" th:text="${f.name}" th:value="${f.food_id}">임시</option>
			</select>
      	</div>
	</div>

	<div class="form-inline form-group">
		<label for="title" class="col-sm-2 control-label">상품 제목</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{title}" type="text" name="title">
			<b th:errors="*{title}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="item_price" class="col-sm-2 control-label">상품 금액</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{item_price}" type="text" name="item_price">
			<b th:errors="*{item_price}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="ship_price" class="col-sm-2 control-label">배송비</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{ship_price}" type="text" name="ship_price">
			<b th:errors="*{ship_price}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="date" class="col-sm-2 control-label">기간</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{created_dt}" type="text" name="created_dt" placeholder="공구시작일"> ~ 
			<input class="form-control" th:field="*{end_dt}" type="text" placeholder="공구마감일" name="end_dt">
			<b th:errors="*{created_dt}"></b> <b th:errors="*{end_dt}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="min_quantity" class="col-sm-2 control-label">목표 수량</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{min_quantity}" type="text" name="min_quantity">
			<b th:errors="*{min_quantity}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="ship_price" class="col-sm-2 control-label">상세 설명</label>
		<div class="col-sm-10">
			<textarea class="form-control" th:field="*{content}" name="content" cols="50" rows="10"></textarea>
			<b th:errors="*{content}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="ship_price" class="col-sm-2 control-label">사진 등록</label>
		<div class="col-sm-10">
			<input class="form-control" accept="image/*" type="file" name="file">
      	</div>
	</div>
	
	<br/>
	<div class="form-inline form-group">
		<div align="center" class="col-sm-10">
			<input class="form-control" type="submit" value="등록하기">
			<input class="form-control" th:onclick="'location.href=\''+ @{/admin/itemList} + '\''"  type="button" value="목록보기">
      	</div>
	</div>
	
	<!-- 
	<table>
		<tr>
			<td>상품명</td>
			<td>
			<select name="food_id" onClick="getFoodInfo()">
					<option th:if="${foodname != null}" th:text="${foodname}" th:value="${foodId}"></option>
					<option th:each="f : ${foodList}" th:text="${f.name}" th:value="${f.food_id}">임시</option>
			</select>
			</td>
		</tr>
		<tr>
			<td>상품 제목</td>
			<td><input th:field="*{title}" type="text" style="width: 300" name="title">
			<span th:errors="*{title}"></span></td>
		</tr>
		<tr>
			<td>상품 금액</td>
			<td><input th:field="*{item_price}" type="text" style="width: 300" name="item_price">
			<span th:errors="*{item_price}"></span></td>
		</tr>
		<tr>
			<td>배송비</td>
			<td><input th:field="*{ship_price}" type="text" style="width: 300" name="ship_price">
			<span th:errors="*{ship_price}"></span></td>
		</tr>
		<tr>
			<td>기간</td>
			<td><input th:field="*{created_dt}" type="text" style="width: 300" name="created_dt" placeholder="공구시작일"> &nbsp; ~ &nbsp;
				<input th:field="*{end_dt}" type="text" style="width: 300" name="end_dt" placeholder="공구마감일">
				<span th:errors="*{created_dt}"></span><span th:errors="*{end_dt}"></span></td>
		</tr>
		<tr>
			<td>목표 수량</td>
			<td><input th:field="*{min_quantity}" type="text" style="width: 300" name="min_quantity">
			<span th:errors="*{min_quantity}"></span></td>
		</tr>
		<tr>
			<td>상세 설명</td>
			<td><textarea th:field="*{content}" cols="80" rows="10" name="content"></textarea></td>
		</tr>
		<tr></tr>
		<tr>
			<td>사진 등록</td>
			<td><input type="file" name="file" accept="image/*"></td>
		</tr> 
	</table>
	
	<br/>
	<p align="center">
	<input type="submit" value="등록하기">
	</p>
	-->
</form>

	</div>
	</section>
	</div>

</body>
</html>