<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{mainlayout}" >
<head>
<meta charset="UTF-8">
<script>

</script>

<title>공구식품 등록</title>
</head>
<body>
	<div layout:fragment="custom-content"> 
	<section class="py-5">
	<div class="container">

<div align="center">
<h1>공동 구매 상품 등록</h1> <br>
<!-- registration form  -->

<form name="searchFood" method="GET">
	<table align="left">
		<tr>
			<td>상품 검색</td>
			<td><input type="text" style="width: 500" name="keyword"></td>
			<td><input type="submit" value="검색"/> </td>
		</tr>
	</table>
</form>

<form method="POST" enctype="multipart/form-data" th:object="${itemForm}"> <!-- action="/item/adminList" -->
	<table>
		<!--
		<tr>
			<td>식품 검색</td>
			<td><input type="text" style="width: 300" name="keyword"></td>
			<td><a href='<c:url value="/item/"/>'>검색</a> </td>
		</tr>-->
		<tr>
			<td>상품명</td>
			<!--<td th:text="${f.name}">name</td>-->
			<td>
			<select name="food" onClick="getFoodInfo()">
					<option th:each="f : ${foodList}" th:text="${f.name}" th:value="${f.food_id}">임시</option>
			</select>
			</td>
		</tr>
		<tr>
			<td>상품 제목</td>
			<td><input type="text" style="width: 300" name="title"></td>
		</tr>
		<tr>
			<td>상품 금액</td>
			<td><input type="text" style="width: 300" name="price"></td>
		</tr>
		<tr>
			<td>배송비</td>
			<td><input type="text" style="width: 300" name="ship_price"></td>
		</tr>
		<tr>
			<td>기간</td>
			<td><input type="text" style="width: 300" name="created_dt" placeholder="년도/월/일"> &nbsp; ~ &nbsp;
				<input type="text" style="width: 300" name="end_dt" placeholder="년도/월/일"></td>
		</tr>
		<tr>
			<td>목표 수량</td>
			<td><input type="text" style="width: 300" name="minQuantity"></td>
		</tr>
		<tr>
			<td>상세 설명</td>
			<td><textarea cols="80" rows="10" name="content"></textarea></td>
		</tr>
		<tr></tr>
		<tr>
			<td>사진 등록</td>
			<td><input type="file" name="images" accept="image/*"></td>
		</tr> 
	</table>
	<br/>
	<input type="submit" value="등록하기">
</form>
</div>

	</div>
	</section>
	</div>
</body>
</html>