<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{mainlayout}" > <!-- layout:decorate="~{post/layout/basic}" -->
<head>
<meta charset="UTF-8">

<title>공구식품 등록</title>
<script th:inline="javascript">
 function confirm(){
	 if(searchFood.keyword.placeholder == ""){
		 alert('상품 먼저 검색해주세요!')
		 searchFood.keyword.focus()
		 return false
	 }
	 registerItem.submit()
 }
 

</script>
</head>

<body>
	<div layout:fragment="custom-content"> 

	<section class="py-5">
	<div class="container">
	
<h1 align="center">공동 구매 상품 등록</h1> <br>

<form class="form-horizontal" name="searchFood" method="GET">
	<div class="form-inline form-group">
		<label for="keyword" class="col-sm-2 control-label">상품 검색</label>
		<div class="col-sm-10">
       		<input th:placeholder="${keyword}" type="text" class="form-control" id="keyword" name="keyword">
       		<input type="submit" class="form-control" value="검색">
       		<b th:text="${noKeyword}"></b>
      	</div>
	</div>
</form>

<form class="form-horizontal" name="registerItem" method="POST" enctype="multipart/form-data" th:object="${itemForm}"> <!-- action="/item/adminList" -->
	<div class="form-inline form-group">
		<label for="food_id" class="col-sm-2 control-label">상품 선택</label>
		<div class="col-sm-10">
			<select class="form-control" name="food_id">
				<option th:if="${foodname != null}" th:text="${foodname}" th:value="${foodId}"></option>
				<option th:each="f : ${foodList}" th:text="${f.name}" th:value="${f.food_id}">임시</option>
			</select>
      	</div>
	</div>

	<div class="form-inline form-group">
		<label for="title" class="col-sm-2 control-label">상품 제목</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{title}" type="text" name="title">
			<b th:errors="*{title}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="item_price" class="col-sm-2 control-label">상품 금액</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{str_item_price}" type="text" name="str_item_price">
			<b th:errors="*{str_item_price}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="ship_price" class="col-sm-2 control-label">배송비</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{str_ship_price}" type="text" name="str_ship_price">
			<b th:errors="*{str_ship_price}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="date" class="col-sm-2 control-label">기간</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{created_dt}" type="date" name="created_dt" placeholder="공구시작일">
			<input class="form-control" th:field="*{created_dt_time}" type="time" name="created_dt_time" placeholder="공구시작일">
			 ~ 
			<input class="form-control" th:field="*{end_dt}" type="date" placeholder="공구마감일" name="end_dt">
			<input class="form-control" th:field="*{end_dt_time}" type="time" name="end_dt_time" placeholder="공구시작일">
			<b th:errors="*{created_dt}"></b> <b th:errors="*{end_dt}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="min_quantity" class="col-sm-2 control-label">목표 수량</label>
		<div class="col-sm-10">
			<input class="form-control" th:field="*{str_min_quantity}" type="number" name="min_quantity">
			<b th:errors="*{str_min_quantity}"></b>
      	</div>
	</div>
	
	<div class="form-inline form-group">
		<label for="ship_price" class="col-sm-2 control-label">상세 설명</label>
		<div class="col-sm-10">
			<textarea class="form-control" th:field="*{content}" name="content" cols="50" rows="15"></textarea>
			<b th:errors="*{content}"></b>
      	</div>
	</div>
	
			<div class="form-inline form-group">
				<label for="file" class="col-sm-2 control-label">이미지 첨부</label>
				<div class="col-sm-10">
					<input id="filefile" type="file" name="file" accept="image/*" th:field="*{file}"
						class="form-control" />
						
				</div>
			</div>
	
	<br/>
	
	<div class="form-inline form-group">
	<label for="preview" class="col-sm-2 control-label">미리보기</label>
		<div class="col-sm-10" id="preview">
				
		</div>
	</div>
	
	
	<div class="form-inline form-group">
		<div align="center" class="col-sm-10">
			<input class="form-control" type="button" value="등록하기" onClick="confirm()">
			<input class="form-control" th:onclick="'location.href=\''+ @{/admin/itemList} + '\''"  type="button" value="목록보기">
      	</div>
	</div>
</form>

	</div>
	</section>
	
		<script th:inline="javascript">
	
		
		var upload = document.querySelector('#filefile');
		var preview = document.querySelector('#preview');

	upload.addEventListener('change',function (e) {
		console.log('change');
		var pre_img = preview.childNodes[0];
	    var get_file = e.target.files;
	    var image = document.createElement('img');
	
	    while(preview.hasChildNodes())
	    {
	 		preview.removeChild(preview.firstChild);		   	
	  	}
	    
	    /* FileReader 객체 생성 */
	    var reader = new FileReader();
	
	    /* reader 시작시 함수 구현 */
	    reader.onload = (function (aImg) {
	        console.log(1);
	
	        return function (e) {
	            console.log(3);
	            /* base64 인코딩 된 스트링 데이터 */
	            aImg.src = e.target.result
	        }
	    })(image)
	
	    if(get_file){
	        /* 
	            get_file[0] 을 읽어서 read 행위가 종료되면 loadend 이벤트가 트리거 되고 
	            onload 에 설정했던 return 으로 넘어간다.
	            이와 함게 base64 인코딩 된 스트링 데이터가 result 속성에 담겨진다.
	        */
	        reader.readAsDataURL(get_file[0]);
	        console.log(2);
	    }
		image.style.cssText = 'width: auto; height: auto; max-width: 200px; max-height: 200px;'
	    preview.appendChild(image);
		//preview.replaceChild(image, pre_img);
	});
	</script>
	</div>

</body>
</html>