<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{mainlayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="custom-content"> 
	<div class="main-search" align="center">
<form th:action="@{/main/search}" th:method="POST">
		<div class="input-group" style="width:500px">
  			
  			<input type="text" name="keyword" class="form-control" placeholder="검색 키워드를 입력하세요!">
  			<span class="input-group-btn">
    			<button class="btn btn-secondary" type="submit">찾기</button>
  			</span>
		</div>
	</form>
</div>
        <!-- Page Content-->
        <section class="py-5">
            <div class="container">
                <h4 class="mb-4"><b>'같이 먹어요' 검색결과</b></h4>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 mb-4" th:each="item : ${itemList}">
                        <div class="card h-100">
                        	<a th:if="${item.images.size == 0}" th:href="@{/item/detail(itemId=${item.item_id})}">
                            	<img class="card-img-top" src="/img/no_image.png" />
                            </a>
							<a th:href="@{/item/detail(itemId=${item.item_id})}" th:if="${item.images.size != 0}">
								<img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+${item.images[0].base64Image}}" alt="액박이미지" />
							</a>
							
                            <div class="card-body">
                                <h6 class="card-title"><b th:text="${item.title}"></b></h6><br />
                                <p class="card-text" th:text="${item.content}"></p>
                              	<b class="card-text" th:text="${item.percentage} + '% 달성'"></b>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div align="center" th:if="${#lists.size(itemList) == 0}">
            	<b>검색결과가 없습니다.</b>
            </div>
        </section>
        <hr class="my-0" />
        <!-- Portfolio Section-->
        <section class="py-5 bg-light">
            <div class="container">
                <h4 class="mb-4"><b>'나누어 먹어요' 검색결과</b></h4>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 mb-4" th:each="post : ${postList}">
                        <div class="card h-100">
                            <a th:href="@{/post/viewPost(post_id=${post.post_id})}"><img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+${post.images[0].base64Image}}" alt="액박이미지" /></a>
                            <div class="card-body">
                                <h6 class="card-title"><b th:text="${post.title}"></b></h6>
       
                            	<p class="card-text" th:text="${post.content}"></p><br />
                            	<b class="card-text" style="color:gray;" th:text="${post.user.name} + '(' + ${post.user.login_id} + ')'"></b>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div align="center" th:if="${#lists.size(postList) == 0}">
            	<b>검색결과가 없습니다.</b>
            </div>
            <div th:if="${#lists.size(postList) != 0}" align="center" style="padding:10px;">
               	<a th:href="@{/post/getPostList(searchKeyword=${keyword})}">전체보기</a>
              </div>
        </section>
        <hr class="my-0" />
        <!-- Features Section-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-4">Modern Business Features</h2>
                        <p>The Modern Business template by Start Bootstrap includes:</p>
                        <ul>
                            <li><strong>Bootstrap 4.6.0</strong></li>
                            <li>jQuery 3.5.1</li>
                            <li>Font Awesome 5.15.3</li>
                            <li>Working PHP contact form with validation</li>
                            <li>Unstyled page elements for easy customization</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                    </div>
                    <div class="col-lg-6"><img class="img-fluid rounded" src="https://via.placeholder.com/700x450" alt="..." /></div>
                </div>
            </div>
        </section>
        <hr class="my-0" />
        <!-- Call to Action-->
        <aside class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p></div>
                    <div class="col-md-4"><a class="btn btn-lg btn-secondary btn-block" href="#!">Call to Action</a></div>
                </div>
            </div>
        </aside>
 </div>
</body>
</html>