<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{post/layout/basic}">

<head>
    <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <!--    필요힌 css, script 추가영역 -->
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title>this is a post list page</title>
				  
		<th:block layout:fragment="add-css"></th:block>
</head>
  
							<th:block layout:fragment="search">
								<div th:replace="post/fragments/common :: search"></div>
							</th:block>


					
						<!-- //.clearfix -->

						<!--  <th:block layout:fragment="content"></th:block> -->

						<th:block layout:fragment="content">
							<div class="table-responsive clearfix">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>번호</th>
											<th>구분</th>
											<th>제목</th>
											<th>작성자</th>
											<th>등록일</th>

										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty( postList )}"
											th:each="row : ${postList}">
											<td scope="row" th:text="${row.post_id}"></td>
											<td th:text="${row.trade_type} == 'trade' ? '교환' : '거래' "></td>
											<td class="text-left">
											<a th:href="|@{/post/viewPost}${params.makeQueryString(params.currentPageNo)}&post_id=${row.post_id}|" th:text="${row.title}"></a>
											</td>
												<!-- user.name이 아니라 post객체에서 바로 name 가져옴 -->
											<td th:text="${row.name}"></td>
											<!--  
											<td
												th:text="${#temporals.format( row.created_dt, 'yyyy/MM/dd' )}"></td>
											-->
											<td
												th:text="${row.created_dt}"></td>
										</tr>
										<tr th:unless="${not #lists.isEmpty( postList )}">
											<td colspan="4">조회된 결과가 없습니다.</td>
										</tr>
									</tbody>
								</table>

								<div class="btn_wrap text-right">
									<a th:href="@{/post/createPost}"
										class="btn btn-primary waves-effect waves-light">Write</a>
								</div>

								<th:block layout:fragment="paging">
									<nav th:replace="post/fragments/common :: pagination"></nav>
								</th:block>
							</div>
						</th:block>
						<th:block layout:fragment="script">
								<script th:inline="javascript">
									/*<![CDATA[*/
						
									function movePage(uri, queryString) {
										location.href = uri + queryString;
									}
									function searchBoard(form) {
										/*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
										if (isEmpty(form) == true) {
											var searchKeyword = document.getElementById("mainSearchKeyword");
											if (isEmpty(searchKeyword.value) == true) {
												alert("키워드를 입력해 주세요.");
												searchKeyword.focus();
												return false;
											}

											form = document.getElementById("searchForm");
											form.searchKeyword.value = searchKeyword.value;
											form.submit();
										}
										/* [- 드롭다운으로 검색했을 때 -] */
										if (isEmpty(form.searchKeyword.value) == true) {
											alert("키워드를 입력해 주세요.");
											form.searchKeyword.focus();
											return false;
										}
									}
									/*[- end of function -]*/
									/*]]>*/
								</script>
							</th:block>

</html>