<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<section th:fragment="adminItemList" class="py-5 bg-light">

            <div class="container">
            	<input type="hidden" th:value="${deleteException}" />
                <h4 class="mb-4"><b>진행 목록</b></h4>
                <div class="row">
                	<div th:if="${#lists.isEmpty(ongoingItemList)}">
                		<strong class="mb-4">목록이 존재하지 않습니다.</strong>
                	</div>
                    <div th:each="item : ${ongoingItemList}" class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
   
                            <a th:if="${item.images.size == 0 or item.images[0].base64Image == null}" th:href="@{/item/detail(itemId=${item.item_id})}">
                            	<img class="card-img-top" src="/img/no_image.png" alt="..." />
                            </a>
                            <a th:if="${item.images.size != 0 and item.images[0].base64Image != null}" th:href="@{/item/detail(itemId=${item.item_id})}">
                            	<img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+${item.images[0].base64Image}}" alt="액박이미지" />
                            </a>
                            <div class="card-body">
                                <h4 class ="card-title"><a th:href="@{/item/detail(itemId=${item.item_id})}" th:text="${item.title}"></a></h4><br/>
                                식품명 : <strong class="card-text" th:text="${item.food.name}" ></strong> <br/>
                                식품가격 : <strong class="card-text" th:text="${item.item_price}" ></strong> <br/>
                                달성율 : <b class="card-text" th:text="${item.percentage} + '% (' + ${item.numOfRegister} + '/' + ${item.min_quantity} + ')'"></b> <br/>
                                상태 : <strong class="card-text" th:text="${item.item_status_korean}"></strong> <br/>
                                
                                
                                등록일 : <strong class="card-text" th:text="${#dates.format(item?.created_dt, 'yyyy/MM/dd  HH:mm')}"></strong> <br/>
                                마감일 : <strong class="card-text" th:text="${#dates.format(item?.end_dt, 'yyyy/MM/dd  HH:mm')}"></strong> <br/><br/>
                                <button class="btn btn-default waves-effect waves-light" 
                                	th:onclick="'javascript:getRegisterList(' + ${item.item_id} + ');'">신청자 명단</button>
                                <button class="btn btn-default waves-effect waves-light" style="float:right;"
                                	th:onclick="'location.href=\''+ @{/item/deleteItem(itemId=${item.item_id})} + '\''">삭제</button>
								<!-- <div align="right"><a th:href="@{/item/deleteItem(itemId=${item.item_id})}">삭제</a></div> -->
                            </div>
                        </div>
                        
                    </div>
                </div>       
                </div>
                
                
                <div class="container">
                <h4 class="mb-4"><b>마감 목록</b></h4>
                <div class="row">
                	<div th:if="${#lists.isEmpty(expiredItemList)}">
                		<strong class="mb-4">목록이 존재하지 않습니다.</strong>
                	</div>
                    <div th:each="item : ${expiredItemList}" class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100" th:classappend="${item.item_status == 'fail' ? 'fail' : 'card h-100'}">
                            
                            <a th:if="${item.images.size == 0 or item.images[0].base64Image == null}" th:href="@{/item/detail(itemId=${item.item_id})}">
                            	<img class="card-img-top" src="/img/no_image.png" alt="..." />
                            </a>
                            <a th:if="${item.images.size != 0 and item.images[0].base64Image != null}" th:href="@{/item/detail(itemId=${item.item_id})}">
                            	<img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+${item.images[0].base64Image}}" alt="액박이미지" />
                            </a>
                            <div class="card-body">
                                <h4 class ="card-title"><a th:href="@{/item/detail(itemId=${item.item_id})}" th:text="${item.title}"></a></h4><br/>
                                식품명 : <strong class="card-text" th:text="${item.food.name}" ></strong> <br/>
                                식품가격 : <strong class="card-text" th:text="${item.item_price}" ></strong> <br/>
                                달성율 : <b class="card-text" th:text="${item.percentage} + '% (' + ${item.numOfRegister} + '/' + ${item.min_quantity} + ')'"></b> <br/>
                                상태 : <strong class="card-text" th:text="${item.item_status_korean}"></strong> <br/>
                                
                                
                                등록일 : <strong class="card-text" th:text="${#dates.format(item?.created_dt, 'yyyy/MM/dd  HH:mm')}"></strong> <br/>
                                마감일 : <strong class="card-text" th:text="${#dates.format(item?.end_dt, 'yyyy/MM/dd  HH:mm')}"></strong> <br/><br/>
                                <button class="btn btn-default waves-effect waves-light"
                                	th:onclick="'javascript:getRegisterList(' + ${item.item_id} + ');'">신청자 명단</button>

                            </div>
                        </div>
                        
                    </div>
                </div>       
                </div>
                <!-- Modal -->
				<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel">
    				<div class="modal-dialog modal-lg" role="document">
        				<div class="modal-content">
            				<div class="modal-header">
                				<h5 class="modal-title" id="popupModalLabel">신청자 명단 조회</h5>
                				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    				<span aria-hidden="true">&times;</span>
                				</button>
            				</div>
            			<div class="modal-body">
<!--             				<th:block layout:fragment="content"> -->
							<div class="table-responsive clearfix">
								<table class="table table-hover">
									
									<thead>
										<tr>
											<th>신청번호</th>
											<th>신청자명</th>
											<th>수령인</th>
											<th>수량</th>
											<th>핸드폰번호</th>

										</tr>
									</thead>
									<tbody id="registerInfo">
									
									</tbody>
								</table>
							</div>
						</th:block>
            			</div>
            			<div class="modal-footer">
                			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                		
            		</div>
        		</div>
        	
    </div>
</div>
				<script th:inline="javascript">
					window.onload = function() { 
						
						var deleteException = /*[[ ${deleteException} ]]*/ -1;
						if(deleteException == 0) {
							alert('신청자가 존재하므로 삭제할 수 없습니다.');
						}
					}
				
				
					//var $j = jQuery.noConflict();
					function getRegisterList(item_id) {
						console.log(item_id);
						var uri = /*[[ @{/admin/itemRegisterList/} ]]*/ null;
						uri += item_id;
						
						console.log(uri); 
						$.ajax({
						    url: uri,
						    method: 'GET',
						    dataType: 'html',
						    success : function (res) {
						    	 var rows = JSON.parse(res);
						    	 var str = $('#registerInfo');
						    	 str.empty();
						    	 
						    	 console.log(rows.length);
						    	 if(rows.length == 0) {
						    		 str.html("신청자 내역이 없습니다.");
						    	 }
						    	 
						    	 Array.prototype.forEach.call(rows, element => {
						    		 console.log(element['order_reg_id']);
						    		 console.log(element.user['name']);
						    		 
						    		 var row = document.createElement("tr");
						    		 var child1 = document.createElement("td");
						    		 var child2 = document.createElement("td");
						    		 var child5 = document.createElement("td");
						    		 var child3 = document.createElement("td");
						    		 var child4 = document.createElement("td");
						    		 
						    		 $(child1).html(element['order_reg_id']);
						    		 $(child2).html(element.user['name']);
						    		 $(child5).html(element['receiver_name']);
						    		 $(child3).html(element['quantity']);
						    		 $(child4).html(element.user['phone']);
						    		 
						    		 row.append(child1);
						    		 row.append(child2);
						    		 row.append(child5);
						    		 row.append(child3);
						    		 row.append(child4);
						    		 str.append(row);
						    		
						    		console.log(element)
						    		 
						    	});
						    	
						    	$('#popupModal').modal();
						    	//alert(res);
						    },
						    error: function (xhr) {
						        alert("fail");
						    }
						});

					}
				</script>
        </section>
</body>
</html>