<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<section th:fragment="adminItemList" class="py-5 bg-light">
            <div class="container">
                <h2 class="mb-4">등록한 '같이 먹어요' 목록</h2>
                <div class="row">
                	<div th:if="${#lists.isEmpty(itemList)}">
                		<strong class="mb-4">목록이 존재하지 않습니다.</strong>
                	</div>
                    <div th:each="item : ${itemList}" class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+${item.images[0].base64Image}}" alt="액박이미지" /></a>
                            <div class="card-body">
                                <h4 class="card-title"><a th:href="@{/item/detail(itemId=${item.item_id})}" th:text="${item.title}"></a></h4>
                                식품명 : <strong class="card-text" th:text="${item.food.name}" ></strong> <br/>
                                식품가격 : <strong class="card-text" th:text="${item.item_price}" ></strong> <br/>
                                목표수량 : <strong class="card-text" th:text="${item.min_quantity}"></strong> <br/>
                                신청자수 : <strong class="card-text" th:text="${item.numOfRegister}"></strong> <br/>
                                상태 : <strong class="card-text" th:text="${item.item_status}"></strong> <br/>
                                등록일 : <strong class="card-text" th:text="${item.created_dt}"></strong> <br/>
                                <a th:href="@{/admin/itemRegisterList(item_id=${item.item_id})}">신청자명단</a>

                            </div>
                        </div>
                        
                    </div>
                </div>
				
        </section>
</body>
</html>