<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div th:fragment="myCommentList">					
						<!-- //.clearfix -->

						<!--  <th:block layout:fragment="content"></th:block> -->
						<h3>&nbsp;내가 남긴 댓글</h3>
						<th:block layout:fragment="content">
							<div class="table-responsive clearfix">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>&nbsp;</th>
											<th>게시글</th>
											<th>댓글 내용</th>
											<th>등록일</th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="comment,iterStat : ${commentList}">
											<td th:text="${iterStat.count}"></td>
											<td class="text-left"><a
												th:href="@{/post/viewPost( post_id=${comment.post.post_id} )}"
												th:text="${comment.post.title}"></a></td>
											<td th:text="${comment.content}"></td>
											<!--  
											<td
												th:text="${#temporals.format( row.created_dt, 'yyyy/MM/dd' )}"></td>
											-->
											<td th:text="${#dates.format(comment.created_dt, 'yyyy/MM/dd  HH:mm')}"></td>
										</tr>
										<tr th:unless="${!#lists.isEmpty( commentList )}">
											<td colspan="4">조회된 결과가 없습니다.</td>
										</tr>
									</tbody>
								</table>
							</div>
						</th:block>
			</div>
</body>
</html>