<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{mainlayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="custom-content" align="center">
<h1 th:text="#{successAccountHeader}"></h1>
<div style="width:500px; text-align:center">
    <div class="card-body">
       <div class="form-group">
           <label for="login_id">아이디</label>
            
            <b th:text="${accountForm.account.login_id}"></b>
       </div>
       <div class="form-group">
           <label for="login_id">이메일</label>
            
            <b th:text="${accountForm.account.email}"></b>
       </div>
</div>

<button class="btn btn-default waves-effect waves-light" 
                                	th:onclick="'location.href=\''+ @{/} + '\''">홈으로</button>
<button class="btn btn-default waves-effect waves-light" 
                                	th:onclick="'location.href=\''+ @{/account/signOnForm} + '\''">로그인</button>
</div>


<!-- <table>
<tr>
	<td>아이디</td>
	<td th:text="${accountForm.account.login_id}">login_id</td>
</tr>

<tr>
	<td>가입 이메일</td>
	<td th:text="${accountForm.account.email}">email</td>
</tr>
</table>

<a th:href="@{/}">홈으로</a>
<a th:href="@{/}">로그인</a> -->
</div>
</body>
</html>