<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="mainFooter">       
     <!-- <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div> -->
	        
        <hr class="my-0" />
        <!-- Features Section-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-4">Supring Shop's developers</h2>
                        <h4><b>권민채</b></h4>
                        <ul>
                            <li><strong>동덕여대 컴퓨터학과 20180900</strong></li>
                            <li>Front-end & Back-end</li>
                            <li>'같이 먹어요' 기능 다수 구현</li>
                            <li>찜하기 기능 구현</li>
                            <li><a href="">깃허브 링크</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                    </div>
                    <div class="col-lg-6"><img class="img-fluid rounded" src="https://via.placeholder.com/700x450" alt="..." /></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-4">Supring Shop's developers</h2>
                        <h4><b>권민채</b></h4>
                        <ul>
                            <li><strong>동덕여대 컴퓨터학과 20180900</strong></li>
                            <li>Front-end & Back-end</li>
                            <li>'같이 먹어요' 기능 다수 구현</li>
                            <li>찜하기 기능 구현</li>
                            <li><a href="">깃허브 링크</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                    </div>
                    <div class="col-lg-6"><img class="img-fluid rounded" src="https://via.placeholder.com/700x450" alt="..." /></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-4">Supring Shop's developers</h2>
                        <h4><b>권민채</b></h4>
                        <ul>
                            <li><strong>동덕여대 컴퓨터학과 20180900</strong></li>
                            <li>Front-end & Back-end</li>
                            <li>'같이 먹어요' 기능 다수 구현</li>
                            <li>찜하기 기능 구현</li>
                            <li><a href="">깃허브 링크</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                    </div>
                    <div class="col-lg-6"><img class="img-fluid rounded" src="https://via.placeholder.com/700x450" alt="..." /></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-4">Supring Shop's developers</h2>
                        <h4><b>권민채</b></h4>
                        <ul>
                            <li><strong>동덕여대 컴퓨터학과 20180900</strong></li>
                            <li>Front-end & Back-end</li>
                            <li>'같이 먹어요' 기능 다수 구현</li>
                            <li>찜하기 기능 구현</li>
                            <li><a href="">깃허브 링크</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
                    </div>
                    <div class="col-lg-6"><img class="img-fluid rounded" src="https://via.placeholder.com/700x450" alt="..." /></div>
                </div>
            </div>
        </section>
        <hr class="my-0" />
        <!-- Call to Action-->
        <aside class="py-5 bg-light">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-4"><a class="btn btn-lg btn-secondary btn-block" href="#!">Supring Shop의 개발자들 보러가기</a></div>
                </div>
            </div>
        </aside>

</div>
</body>
</html>